.anchorPane {
    -fx-background-color: #272121;
    -fx-pref-width: 500px;
    -fx-pref-height: 400px;
}

.welcome {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.play{
    -fx-font-size: 18px;
    -fx-background-color: #545b52;
    -fx-background-radius: 10;

}

.play:hover{
    -fx-background-color: #4b3b54;
    -fx-text-fill: white;
}

