.vbox {
    -fx-background-color: #252222;
    -fx-pref-width: 500px;
    -fx-pref-height: 400px;
}

.welcome{
    -fx-text-fill: white;
    -fx-font-size: 24px;
}



/*.button-in-hbox {*/
/*    -fx-text-fill: white;*/
/*    -fx-alignment: center;*/
/*}*/

/* styles.css */

/*Dices*/
.dice-hbox .button-in-hbox {
    -fx-font-size: 24.0;
    -fx-background-color: #FFFFFF; /* Default background color */
    -fx-text-fill: black; /* Default text color */

}

.dice-hbox .button-in-hbox:hover {
    -fx-background-color: #1aff00; /* Red background on hover */
    -fx-text-fill: white; /* White text on hover */
}
