.vbox {
    -fx-background-color: #252222;
    -fx-pref-width: 500px;
    -fx-pref-height: 400px;
}

.welcome{
    -fx-text-fill: white;
    -fx-font-size: 24px;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: grey;
}

.label-in-hbox {
    -fx-text-fill: white;
    -fx-alignment: center;
}

/*.dice-hbox {*/
/*    -fx-alignment: center;*/
/*}*/